
  <div class="pin">
    <% if(data.cover === null){ %>
      <img src="/homepage_files/noimage.svg">
    <% }else{%>
      <img src="<%=data.cover%>">
    <% }%>
    


      <p><!-- yes we need this p tag -->

      <h5><b><%= data.title %></b>
        <br>by <%= data.author %>
      </h5>

      <h6>
        <%= "ISBN-13: " + data.isbn13 %>
        <!--links to seller profile -->
        <br>Posted by: <%=data.username%>
      </h6>

      <h5>
      <% if(data.available === false) { %>
          <%= "This book is currently not available." %>
        <% } else {%>
          <% if(data.forSale === true){ %>
            <%= "Selling Price: $"+data.sellprice %>
          <% } %>
          <% if(data.forSale === true){ %>
            <br><%= "Rent Price: $"+data.rentprice %>
          <% } %>
        <% } %>
      </h5>

      <p>
        <% if(data.description === null) { %>
          <%= "Description: No description." %>
        <% } else {%>
          <%= "Description: " + data.description %>
        <% } %>
      </p>

      <!-- view seller button-->
      <p>
        <form action="/sellerprofile" method="post">
          <button type="submit" class="form-control btn btn-info btn-sm">View Seller</button>
          <input type="hidden" name="seller" value="<%=data.username%>">
        </form>
      </p>

      </p>

      <!-- </div> caption -->
      <!--Implement ratings later...-->
      <!-- <div class="ratings">
        <p class="pull-right">
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
        </p>
          <p>Seller rating</p>
      </div> -->
    </div>