<!DOCTYPE html>

<html><head>
  <title>Edit Listing</title>
  <% include includes/header.ejs %>
</head>

<body>
  <% include partials/navbarlogin.ejs %>

  <div class="container-fluid">
    <!--Sign up-->
    <div class="row">
      <div class="col-md-3 col-md-offset-2">
        <h2><span class="fa fa-book"></span> Edit listing</h2>
      </div>
    </div>

  <div class="col-md-5">
    <!-- SignUp FORM -->
    <form action="/updatelisting" method="post">
      <div class="form-horizontal">

        <div class="form-group">
          <label for="description" class="col-sm-4 control-label">Description</label>
          <div class="col-sm-8">
            <textarea class="form-control" name="description" maxlength="500" rows="6"><%=description%></textarea>
          </div> <!--col-sm-8-->
        </div> <!--form-group-->
        <input type="hidden" name="listid" value=<%=listid%>>

        <div class="form-group">
          <label class="col-sm-4 control-label">Do you want to...</label>
          <div class="col-sm-8">
            <!-- <input type="isbn13" class="form-control" name="isbn13" placeholder="ISBN 13"> -->
          </div> <!--col-sm-8-->
        </div> <!--form-group-->

        <div class="form-group">
          <label for="forSale" class="col-sm-4 control-label">Sell this book?</label>
          <div class="col-sm-3">
            <!-- <input type="forSale" class="form-control" name="forSale" placeholder="Are you selling this?(True/False)"> -->
            <div class="input-group">

              <% if (forsale==true) { %>
                  <label class="radio-inline"><input type="radio" name="forSale" checked value="t">Yes</label>
                  <label class="radio-inline"><input type="radio" name="forSale" value="f">No</label>
              <% } else { %>
                  <label class="radio-inline"><input type="radio" name="forSale" value="t">Yes</label>
                  <label class="radio-inline"><input type="radio" name="forSale" checked value="f">No</label>             
               <% } %>
              
            </div>
          </div> <!--col-sm-4-->
          <div class="col-sm-4">
            <div class="input-group">
              <span class="input-group-addon">$</span>
              <input type="sellPrice" name="sellPrice" min="0.01" max="999.99" step="0.01" class="form-control currency" value=<%=sellprice%> />
            </div>
          </div> <!--col-sm-4-->
        </div> <!--form-group-->

        <div class="form-group">
          <label for="forRent" class="col-sm-4 control-label">Rent this book?</label>
          <div class="col-sm-3">
            <!-- <input type="forRent" class="form-control" name="forRent" placeholder="Are you renting this?(True/False)"> -->
            <div class="input-group">
              <% if (forrent==true) { %>
                  <label class="radio-inline"><input type="radio" name="forRent" checked value="t">Yes</label>
                  <label class="radio-inline"><input type="radio" name="forRent" value="f">No</label>
              <% } else { %>
                  <label class="radio-inline"><input type="radio" name="forRent" value="t">Yes</label>
                  <label class="radio-inline"><input type="radio" name="forRent" checked value="f">No</label>             
               <% } %>
            </div>
          </div> <!--col-sm-8-->
          <div class="col-sm-4">
            <div class="input-group">
              <span class="input-group-addon">$</span>
              <input type="rentPrice" name="rentPrice" min="0.01" max="999.99" step="0.01" class="form-control currency" value=<%=rentprice%> />
            </div>
          </div>
        </div> <!--form-group-->

        <div class="form-group">
          <label for="forBorrow" class="col-sm-4 control-label">Share this book?</label>
          <div class="col-sm-3">
            <!-- <input type="forBorrow" class="form-control" name="forBorrow" placeholder="Are you borrowing this?(True/False)"> -->
            <div class="input-group">
              <% if (forborrow==true) { %>
                  <label class="radio-inline"><input type="radio" name="forBorrow" checked value="t">Yes</label>
                  <label class="radio-inline"><input type="radio" name="forBorrow" value="f">No</label>
              <% } else { %>
                  <label class="radio-inline"><input type="radio" name="forBorrow" value="t">Yes</label>
                  <label class="radio-inline"><input type="radio" name="forBorrow" checked value="f">No</label>             
               <% } %>
            </div>
          </div> <!--col-sm-8-->
          <div class="col-sm-4">
            <div class="input-group">
              <span class="input-group-addon">$</span>
              <input type"text" class="form-control" placeholder="Free" disabled/>
            </div>
          </div> <!--col-sm-4-->
        </div> <!--form-group-->

        <div class="form-group">
          <label for="available" class="col-sm-4 control-label">Is it available now?</label>
          <div class="col-sm-8">
            <!-- <input type="available" class="form-control" name="available" placeholder="Is this available?(True/False)"> -->
            <div class="input-group">
              <% if (available==true) { %>
                  <label class="radio-inline"><input type="radio" name="available" checked value="t">Yes</label>
                  <label class="radio-inline"><input type="radio" name="available" value="f">No</label>
              <% } else { %>
                  <label class="radio-inline"><input type="radio" name="available" value="t">Yes</label>
                  <label class="radio-inline"><input type="radio" name="availabe" checked value="f">No</label>             
               <% } %>
            </div>
          </div> <!--col-sm-8-->
        </div> <!--form-group-->

        <div class="form-group">
          <div class="col-sm-offset-4 col-sm-8">
            <button type="submit" class="form-control btn btn-success btn-md">Submit Edit</button>
          </div> <!--col-sm-8-->
        </div> <!--form-group-->


      </div> <!-- form-horizontal -->
    </form>

      <div class="col-sm-offset-4 col-sm-8">
        <form action="/deletelisting" method="post">
          <button type="submit" class="form-control btn btn-danger btn-sm">Delete Listing</button>
          <input type="hidden" name="listid" value=<%=listid%>>
        </form>
      </div>
  </div><!-- col-md-5 -->
  
</div> <!-- container-fluid -->

<% include includes/footer.ejs %>
</body></html>