<div class="col-sm-4 col-lg-4 col-md-4">
  <div class="thumbnail">
    <img src="/homepage_files/320x150">
    <div class="caption">

    <!-- Need listibg-books join to get titel and author -->
      <h5><b><%= data.title %></b>
        <br>by <%= data.author %>
      </h5>

      <h6><%= "ISBN-13: " + data.isbn13 %>
        <br><%= "ISBN-10: " + data.isbn10 %>
      </h6>

      <form action="/viewListing" method="post">
        <button type="submit" class="form-control btn btn-info btn-sm">View Listing</button>
        <input type="hidden" name="isbn13" value="<%=data.isbn13%>">
      </form>

     
    </div> <!-- caption -->

    <!--Implement ratings later...-->
    <!-- <div class="ratings">
      <p class="pull-right">
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
      </p>
        <p>Seller rating</p>
    </div> -->
  </div>
</div>